---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const { 
  title, 
  description = "Regalos de nacimiento y pasteles de pañales artesanales en Badalona. Hechos a mano con amor y productos de primeras marcas.",
  image = "/favicon.svg"
} = Astro.props;

const siteUrl = Astro.site ? Astro.site.origin : 'https://manolipastelesdepañales.com';
const imageUrl = image.startsWith('http') ? image : `${siteUrl}${image}`;
const canonicalURL = new URL(Astro.url.pathname, siteUrl);

// ID DE GOOGLE ANALYTICS
const GA_MEASUREMENT_ID = 'G-XXY67PM3D0';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    
    <link rel="canonical" href={canonicalURL} />

    <script async src={`https://www.googletagmanager.com/gtag/js?id=${GA_MEASUREMENT_ID}`}></script>
    <script define:vars={{ GA_MEASUREMENT_ID }}>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', GA_MEASUREMENT_ID);
    </script>

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={imageUrl} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={imageUrl} />
    <meta name="google-site-verification" content="acky7Mc_SQ-I_no5U-D4CUCTC3kKwHwe5KOX9vjrDTE" />
    <title>{title}</title>
    
  </head>
  <body class="flex flex-col min-h-screen">
    <Header />
    <slot />
    <Footer />
  </body>
</html>